input[type="button"] {
	box-sizing: border-box;
	background: transparent;
	border: none;
	border: 2px solid white;
	padding: 1rem;
	padding-left: 1.7rem;
	padding-right: 1.7rem;
	font-family: 'Mukta Mahee', sans-serif;
	color: white;
	letter-spacing: 2px;
	margin: 2em;

}

input[type="button"]:hover {
	background: white;
	transition: 0.3s ease;
	color: #111;

}


#hero {
	background: url(images/Sky.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: white;
	font-family: 'Mukta Mahee', sans-serif;
	padding-top: 20px;
}

#who-is-sky {

	background: #111111;
}

.contain {
	padding: 6rem;
}

#our-studio h3 {
	color: white;

}



body {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
	color: white;
}

.img-sq {
	width: 100%;
	height: 100%;
}

h4,
h5 {
	font-family: 'Mukta Mahee', sans-serif;
	color: #757575;
	letter-spacing: 2px;
	font-weight: 400;
}

h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #d3d3d3;
}

h3 {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #ebeaeb;
}

#footer {
	background: #111111;
	color: #adadad;
}

body {
	font-family: 'Playfair Display', serif;
}


#zdj {
	height: 70vh;
}


.search {
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 0.9em;
	border-bottom: 1px solid white;
	color: white !important;
	letter-spacing: 2px;
	padding-bottom: 5px;
	padding-right: 0;
}

.search::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #cccccc;
}

.search::-moz-placeholder {
	/* Firefox 19+ */
	color: #cccccc;
}

.search:-ms-input-placeholder {
	/* IE 10+ */
	color: #cccccc;
}

.search:-moz-placeholder {
	/* Firefox 18- */
	color: #cccccc;
}

#navbar {
	letter-spacing: 2px;
	font-size: 0.6em;
}



.logo {
	text-decoration: none;
	color: whitesmoke;
	font-size: 2em;
	line-height: 0.7em;

}


.text-hero img {
	width: 100%;

}

#follow {
	margin: 2rem;
}

h1 {
	font-size: 5em;
}

.text-hero {
	height: 70vh;
}

.container-left-right {
	padding: 0 8em;
}

@media only screen and (max-width:48em) {
	.contain {
		padding: 2rem;
	}
	.logo-xs {
		padding-top: 20px;
	}

	h1 {
		font-size: 4em;
	}
	#follow {
		margin: 0;

	}
	#follow img {
		margin: 0;
		padding: 0;
	}
	.container-left-right {
		padding: 1em;
	}
}

.image-zoom {
	transition: .3s ease;
	overflow: hidden;
}

.image-zoom:hover {
	-moz-transform: scale(0.9);
	-webkit-transform: scale(.9);
	transform: scale(.9);

}


.options-navbar:after {
	content: "";
	height: 1px;
	width: 0px;
	background: white;
	display: flex;
	transition: .3s ease;
}

.options-navbar:hover:after {
	width: 100%;
}
